[package]
name = "dialoguer"
description = "A command line prompting library."
version = "0.1.0"
authors = ["Armin Ronacher <armin.ronacher@active-4.com>"]
keywords = ["cli", "menu", "prompt"]
license = "MIT"
homepage = "https://github.com/mitsuhiko/dialoguer"
documentation = "https://docs.rs/dialoguer"
readme = "README.md"

[dependencies]
console = "0"
tempfile = "2"

[replace]
"console:0.2.0" = { path = "../console" }
